@import 'homepage-style.css';


section {
    width:400px;
    height:400px;
    text-align:center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;

}
header img {
    float: center;
    width: 1000px;
    height: 100px;
    border-radius: 20px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 20px;
    transition: width 2s, height 2s, transform 2s;
}
header img{
    transform: skewX(10deg);
}

form {
    margin: 10px;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width:350px;
    height:350px;
    text-align:center;
    border-radius: 4px;
}

input {
    height: 30px;
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius:4px;
    background-color: #fff;
    padding-left: 35px;
}

.form-input::before{

    position:absolute;
    font-family:"FontAwesome";
    padding-left:5px;
    padding-top: 5px;
    font-size: 56px;
}
             
.button-signup{
padding: 10px 10px;
    color: #000000;
text-align:center;
}    
@media screen and (max-width: 800px){
   header img {
    float: center;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 10px;
    transition: width 2s, height 2s, transform 2s;
}
}