@import 'homepage-style.css';

section {
    width:400px;
    height:400px;
    text-align:center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;

}

section img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: -70px;
    margin-bottom: 10px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: width 2s, height 2s, transform 2s;
}

section img:hover {
    width: 200px;
    height: 200px;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transform: rotate(360deg);
}
form {
    margin: 10px;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width:350px;
    height:350px;
    text-align:center;
    border-radius: 4px;
}

input {
    height: 30px;
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius:4px;
    background-color: #fff;
    padding-left: 35px;
}

.form-input::before{

    position:absolute;
    font-family:"FontAwesome";
    padding-left:5px;
    padding-top: 5px;
    font-size: 56px;
 }



.button-login{
    text-align: center;
    padding: 20px 20px;
    color: #fff;
}

